{% extends "articles/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="login-card">
    <h3 class="card-header text-light bg-secondary">Login to your account</h3>
    <div class="card-body">
      <form class="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-block btn-secondary my-3" value="Login">
      </form>
    </div>
  </div>

  <div class="login-card pt-5 border-0 text-center">
    <a href="{% url 'new_account' %}">Create new account</a>
  </div>
{% endblock %}