{% extends "articles/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
      <div class="card mx-auto" style="width: 90vw; max-width: 450px;">

        {% if validlink is None or validlink %}
            <h4 class="card-header text-light bg-primary">{{ title }}</h4>
        {% else %}
            <h4 class="card-header text-light bg-danger">{{ title }}</h4>
        {% endif %}


        {% if form %}
        <div class="card-body">
          <form class="" method="post">
            {% csrf_token %}
            {{ form|crispy }}

            {% if submit_btn %}
              <input type="submit" class="btn btn-block btn-primary my-3" value="{{ submit_btn }}">
            {% endif %}
          </form>
        </div>
        {% endif %}

      </div>
{% endblock %}