{% extends "articles/base.html" %}
{% load static %}

{% block content %}
{% for field in object_list %}
  <div id="article_{{ forloop.counter }}" class="media media-bg p-2 rounded" data-toggle="modal" 
    data-target="#id{{ forloop.counter }}">
    <div class="media-body">
      <h4>{{ field.title }}</h4>
      <span class="text-muted">Posted by</span> {{ field.author }} 
      <span class="text-muted">on {{ field.publishedAt|slice:":10" }}</span>
    </div>
    <img src="{{ field.urlToImage }}" class="ml-4 align-self-center rounded" style="width:20vw">
  </div>
  {% if field.pk %}
    <button type="button" class="btn btn-outline-danger" 
      onclick="delete_from_favorite(this, {{ field.pk }}, {{ forloop.counter }});">
      Delete
    </button>
  {% else %}
    <button type="button" class="btn btn-outline-primary" 
      onclick="add_to_favorite(this, {
        title:'{{ field.title }}',
        author:'{{ field.author }}',
        description:'{{ field.description }}',
        url:'{{ field.url }}',
        urlToImage:'{{ field.urlToImage }}',
        publishedAt:'{{ field.publishedAt }}'});">
      Add to Favorite
    </button>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="id{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ field.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <img src="{{ field.urlToImage }}" style="width:100%">
            {{ field.description }}
          </p>
          <a href="{{ field.url }}" target="_blank">read more</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
{% empty %}
    empty
{% endfor %}


{% endblock %}